html {
  width: 100%;
  height: 100%;  /* 背景高さ自動 */
  background: linear-gradient(#00bfff, #efd9fd);
  background-position: 100%;
  margin: 0;
}

body {
  color: #fdffff;
  width: 500px;
  margin-right: auto;
  margin-left: auto;
}

button {
  padding: 5px 20px;
  background-color: rgb(242, 203, 242);
  border-style: none;
  color: #fdffff;
}

input {
  height: 20px;
}
